<div class="shell-container">
  <h1>Shell Header</h1>
  <div class="shell-container__state">
    <h2>Shared state in shell:</h2>
    {{ this.mfeStateService.mfeState | json }}
  </div>

  <div class="shell-container__nav-links">
    <a routerLink="pdp-same-app" routerLinkActive="active"
      >Products Description Page - from same App's capability</a
    >
    <a routerLink="pdp-another-app" routerLinkActive="active"
      >Products Description Page - from another App's capability</a
    >
  </div>

  <div class="shell__content" (stateUpdate)="onStateUpdate($event)">
    <router-outlet></router-outlet>
  </div>
</div>
